h1{
    font-style: italic;
    color:yellowgreen ;
}


ol{
 list-style: ;
}

p{
    text-align: center;
    text-decoration: dotted;
    text-transform: uppercase;
    text-decoration-style: wavy;
    letter-spacing: 0px;
}

p{
    font-size: larger;
    font-style: italic;
    font-weight: lighter;
}
p{
    border: 2px dotted yellowgreen;
    border-radius: 50px;

}

.fool{
    color: crimson;
    background-color: bisque;
    font-family: sans-serif;
    font-style: normal;
}

#mad{
    color: white;
    background-color: black;
}

.fruit{
    color: cadetblue;
    background-color: black;
    height: 30px;
    width: 60px;
}

.inline{
 background-color: blue;
 display: block;
 margin: 5px;
 width: 80px;
 
 
}

.inline-block{
    display: inline-block;
    background-color: red;
    width: 100px;
    text-align: center;
}

